*{
    margin: 0;
    overflow: hidden;
}
.diagonal{
    width: 250vmin;
    height: 118vmin;
    background: linear-gradient(to top right, transparent 50%, #9cb7f0 50%);
}
.centro{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 14vmin;
    margin-left: 40vmin;
    width: 100vmin;
    height: 60vmin;
    background-color: #09308b;
    border-radius: 22px;
    overflow: visible;
    box-shadow: 7px 7px 0px rgb(9, 26, 100);
}
.img{
    margin-top: 5%;
    margin-left: 3%;
    width: 50vmin;
    height: 50vmin;
}
.login{
    display: flex;
    flex-direction: column;
    border-radius: 22px;
    position: absolute;
    top: 5vmin;
    margin-left: 50vmin ;
    width: 60vmin;
    height: 60vmin;
    background-color: #0a4ad4;
    box-shadow: 7px 7px 0px #091a64;
}
.texto1{
    color: white;
    font-size: 10vmin;
    font-weight: bolder; 
    margin-left: 1.2em;
}
.inform {
    margin-top: 5vmin;
    margin-left: 5vmin;
    border-radius: 50px;
    width: 76.25%;
    height: 4vmin;
    font-size: 1.5vmin;
    padding-left: 2vmin;
    border: none;   
    outline: none;
}
.linha{
    margin-left: 5vmin;
    border-radius: 50px;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
    width: 80%;
    height: 0.5vmin;
    background-color: #09318B;
}
.button{
    border-radius: 2px;
    background-color: #8aacfd;
    color: whitesmoke;
    width: 20vmin;
    height: 4.4vmin;
    font-size: 2vmin;
    margin-left: 32vmin;
    margin-top: 6.22vmin;
    border: none;   
    outline: none;
    font-weight: bolder;
    cursor: pointer;
}
.button:hover{
    background-color: #588aff;
}

