/* RESET */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ESTILIZAÇÃO */

body{
    height: 100dvh;
    overflow: hidden;
}

:root{
    --header-h: 150px;
    --header-img-margin: 5%;
}

header{
    height: var(--header-h);
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(to bottom, #09318B 50%, #07266D 50%);

    display: flex;
    align-items: center;
}

header img{
    width: calc(var(--header-h) - 5px);
    margin-left: var(--header-img-margin);
}

header h1, #cellphone-only{
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
}

#cellphone-only{
    display: none;
}

main{
    width: 100%;
    margin-top: var(--header-h);
    height: calc(100dvh - var(--header-h));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section button{
    width: 310px;
    height: 120px;
    background-color: transparent;
    border: 3px solid #1449BF;
    font-size: 1.3rem;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: top .3s cubic-bezier(.17,.67,.65,.99);
}
section button::before{
    position: absolute;
    content: '';
    inset: -1px;
    top: 100%;
    background-color: #09318B;
    z-index: -1;
    transition: top .3s cubic-bezier(.17,.67,.65,.99);
}
section button:hover{
    color: #fff;
}
section button:hover::before{
    top: -1px;
}

hr{
    width: 60%;
    height: 3px;
    background-color: #09318B;
}

@media screen and (max-width: 361px){
    header img{
        width: 100px;
    }
    header h1{
        display: none;
    }
    #cellphone-only{
        display: block;
        font-size: 1.8rem;
    }
}