* {
    margin: 0;
    overflow-x: hidden;
}

form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    width: 88%;
}


.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15vmin;
    background: linear-gradient(to bottom, #09308b 60%, #091a64 60%);
}

.img {
    width: 15vmin;
    height: 15vmin;
    margin-left: 10vmin;
}

.texto1 {
    margin-left: 6vmin;
    margin-top: 3.5vmin;
    font-size: 3.5vmin;
    font-weight: bolder;
    color: aliceblue;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

    .parte1 { background-color: rgb(255, 204, 141);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:end;
        width: 92%;
        height: 7vmin;
    }

        .labell {
            width: 20vmin;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: solid 2px black;
            font-size: 2vmin;
            outline: none;
        }


        .b{ 
            display: flex;
            flex-direction: row;
        }

input[type="radio"] {
    margin-top: 1.25vmin;
    appearance: none;
    border: 2px solid black;
    width: 2vmin;
    height: 2vmin;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    margin-right: 0.5vmin;
    background-color: white;
}

input[type="radio"]:checked {
    background-color: black;
}

.linha2 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}

.parte2 { background-color: rgb(141, 255, 246);
    width: auto;
    height: 35vmin;
}

.acompanhantetexto {
    display: none;
    margin-top: 2.5vmin;
    width: 19.7vmin;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 2px black;
    font-size: 1.5vmin;
    outline: none;
}

.acompanhantetexto2 {
    display: none;
    width: 19.7vmin;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 2px black;
    font-size: 1.5vmin;
    outline: none;
}

.acompanhantetexto3 {
    display: none;
    width: 19.7vmin;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 2px black;
    font-size: 1.5vmin;
    outline: none;
}

.tipoOcorrencia { background-color: #09308b;
    width: 25vmin;
    height: 15vmin;
}