/* RESET */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ESTILIZAÇÃO */

:root{
    --header-height: 120px;
    --menuBurguer-height: 5px;
    --menuBurguer-pseudo-top: calc(var(--menuBurguer-height) * -2);
}

body{
	overflow-x: hidden;
}

/* HEADER */

header{
    height: var(--header-height);
    background: linear-gradient(to bottom, #09318B 50%, #07266D 50%);
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;
    color: #fff;
}
header img{
    height: var(--header-height);
}
header h1{
    font-size: 1.25rem;
}
header .cellphone{
    display: none;
}

.menu{
    position: relative;
    width: 40px;
    aspect-ratio: 1;
    cursor: pointer;

    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}        
    
.menu_burguer{
    width: 100%;
    height: var(--menuBurguer-height);
    background-color: #fff;
    border-radius: 5px;
      
    position: relative;
}          
.menu_burguer.open{
    transform: rotate(-405deg);
} 
.menu_burguer.open:before{
    display: none;
}     
.menu_burguer.open:after{
    top: 0;
    transform: rotate(90deg);
}
.menu_burguer:before{
    content: '';
    position: absolute;
    border-radius: inherit;
    width: inherit;
    
    height: inherit;
    top: var(--menuBurguer-pseudo-top);
    background-color: inherit;
} 
.menu_burguer:after{
    content: '';
    position: absolute;
    border-radius: inherit;
    width: inherit;
    
    height: inherit;
    top: calc(var(--menuBurguer-pseudo-top) * -1);
    background-color: inherit;
}

.hidden_nav{
    position: absolute;
    z-index: -1;
    width: 120px;
    aspect-ratio: 1/1.5;

    display: none;
    place-content: center;

    right: -10px;
    top: calc(var(--menuBurguer-height) - 10px);
    background-color: #07266D;
    border: 1px solid #09318B;
}
.hidden_nav.open{
    display: grid;
}
.hidden_nav ul li a{
    color: #fff;
    font-size: 1.1rem;
}  

/* HEADER */

/* MAIN */

main{
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
    margin-top: 60px;
    margin-inline: 40px;
}

input[type="text"], input[type="number"]{
    border-bottom: 1px solid #000;
}

.aside1{
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.aside1section1{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.aside1section1 h1{
    font-size: 1.2rem;
    font-weight: bold;
}

.sinaisVitaisGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 13px;
    column-gap: 35px;
}

.pressaoArterial input{
    width: 100px;
}

.sinaisVitaisCell{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.perfusaoGrid{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.perfusaoCell{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.HGT{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.hgtGrid{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
}

.hgtCell{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.aside1section2{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.aside1section2 h1{
    font-size: 1.2rem;
    font-weight: bold;
}

.decisaoTransporteGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-bottom: 50px;
}

.decisaoTransporteCell p{
    margin-top: 10px;
}

.decisaoTransporteCell img{
    width: 125px;
    aspect-ratio: 1;
    border: 3px solid #000;
}

.aside2{
    text-align: center;
}

.aside2 h1{
    font-size: 1.2rem;
    font-weight: bold;
}

.aside2aside1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.aside2aside2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sinaisESintomasGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sinaisESintomasCell{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
}

.btn{
    position: absolute;
    right: 80px;
    bottom: -125px;
	width: 200px;
	height: 80px;
	border: 1px solid #07266D;
	background-color: transparent;
	border-radius: 5px;
	transition: all .3s cubic-bezier(.17,.67,.65,.99);
}
.btn:hover{
	background-color: #07266D;
	color: #fff;
}

input[type="radio"], input[type="checkbox"] {
	width: 20px; /* Define a largura do quadrado */
	aspect-ratio: 1;
	-webkit-appearance: none; /* Remove a aparência padrão do navegador */
	appearance: none;
	border: 1px solid #000; /* Define uma borda preta ao redor do quadrado */
	border-radius: 5px; /* Remove o arredondamento dos cantos */
}

input[type="radio"]:checked, input[type="checkbox"]:checked {
	background-color: #13862c; /* Mude a cor de fundo quando o input estiver marcado */
	position: relative;
}
input[type="radio"]:checked::after, input[type="checkbox"]:checked::after  {
	content: '✔️';
	position: absolute;
	inset: 0;
	display: grid;
	place-content: center;
}

@media screen and (max-width: 840px){
    header h1{
        font-size: 1rem;
    }
}

@media screen and (max-width: 700px){
    body{
        height: 350dvh;
    }
    header h1{
        display: none;
    }
    header .cellphone{
        display: block;
        font-size: 1.5rem;
    }
    .sinaisVitaisGrid{
        grid-template-columns: repeat(1, 1fr);
    }
    .sinaisVitaisCell{
        flex-direction: column;
        align-items: flex-start;
    }
    main{
        flex-direction: column;
    }
    .sinaisESintomasGrid{
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }
    .aside2{
        width: 100%;
    }
    .btn{
        bottom: -240dvh;
    }
}