/* RESET */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ESTILIZAÇÃO */

:root{
    --header-h: 130px;
    --header-img-margin: 5%;
    --check-border-clr: #07266D;
    --gap: 13px;
    --font-sz-big: 1.25rem;
    --fonr-sz-nrml: 1rem;
    --triangle-w: 25px;
    --acomp-w: 250px;
    --prblm-label-w: 100px;
}

body{
    height: 210dvh;
    display: grid;
}

header{
    height: var(--header-h);
    width: 100%;
    background: linear-gradient(to bottom, #09318B 50%, #07266D 50%);

    display: flex;
    align-items: center;
}

header img{
    width: calc(var(--header-h) - 5px);
    margin-left: var(--header-img-margin);
}

header h1, #cellphone-only{
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
    margin-left: 20px;
}

#cellphone-only{
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    border-bottom: 1px solid #000;
}

h2{
    font-size: var(--font-sz-big);
    padding: 0 0 20px 0;
    font-weight: bold
}

.clm{
    display: flex;
    flex-direction: column;
}

.rw{
    display: flex;
    flex-direction: row;
}

.gap{
    gap: var(--gap);
}

.d1{
    width: var(--acomp-w);
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15vmin;
    position: relative;
    margin-bottom: 30px;
}

.paciente{
    border: 3px solid #07266D;
    padding: 20px;
}

.paciente p{
    width: 150px;
}

.menu{
    width: fit-content;
    display: none;
    flex-direction: column;
    position: absolute;
    color: #fff;
    background-color: #09318B;
    border-radius: 5px;
    padding: 13px 8px;
    transform: translateX(calc(var(--prblm-label-w) * 1.25));
}

.closeBtn{
    position: absolute;
    top: 5px;
    right: -15px;
    color: #000;
    cursor: pointer;
}

.menu input{
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

.corpos{
    text-align: center;
}

.hiddenCorpoSelect{
    position: absolute;
    border: 1px solid black;
    z-index: 1000;
    background-color: #fff;
}
.hiddenCorpoSelect::after{
    content: '';
    position: absolute;
    width: var(--triangle-w);
    aspect-ratio: 1;
    top: -1px;
    border-top: 1px solid black;
    right: calc(var(--triangle-w) * -1 - 1px);
    background: linear-gradient(to top left, #fff 49%, #000 50%, #fff 51%);
}

.linha{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
    border-bottom-style: dashed ;
    padding: 5px;
    gap: 10px;
}

.linha button{
    cursor: pointer;
    background-color: transparent;
}

.linha button:hover{
    background-color: #1449BF;
}

.botaoCorpoSelect{
    width: 100%;
    height: 40px;
    padding: 5px;
    color: #fff;
    background-color: #1449BF;
    transition: all .3s ease;
}

.botaoCorpoSelect:hover, .botaoCorpoSelect:focus-within, .botaoCorpoSelect:active{
    background-color: #07266D;
}  

.clicavel {
    cursor: pointer;
    position: relative;
}

.salvarAvancar{
    position: absolute;
    bottom: -20px;
    right: -20px;
    align-items: center;
}

.salvarAvancar label{
    font-size: 1.25rem;
    font-weight: bold;
}

#formularioAcompanhante{
    display: none;
    flex-direction: column;
    gap: 20px;
    background-color: #09318B;
    padding: 30px 15px 40px 15px;
    position: absolute;
    transition: all .3s linear;
    left: calc(var(--acomp-w) + var(--triangle-w));
}

#formularioAcompanhante::before{
    content: '';
    position: absolute;
    width: var(--triangle-w);
    aspect-ratio: 1;
    top: 0;
    left: calc(var(--triangle-w) * -1);
    background: linear-gradient(to top right, #fff 50%, #09318B 50%);
}

#formularioAcompanhante input{
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

#formularioAcompanhante input::placeholder {
    color: #fff;
    font-size: 14px;
    opacity: .6;
}


.btn{
    width: 250px;
    height: 60px;
    background-color: transparent;
    border: 3px solid #1449BF;
    font-size: 1.3rem;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: top .3s cubic-bezier(.17,.67,.65,.99);
}
.btn::before{
    position: absolute;
    content: '';
    inset: -1px;
    top: 100%;
    background-color: #09318B;
    z-index: -1;
    transition: top .3s cubic-bezier(.17,.67,.65,.99);
}
.btn:hover{
    color: #fff;
}
.btn:hover::before{
    top: -1px;
}


.corpo{
    position: relative;
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabeca{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 65px;
    height: 65px;
    top: 10px;
}

.ombroEsquerdo{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 70px;
    height: 35px;
    top: 80px;
    left: 75px;
}

.ombroDireito{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 70px;
    height: 35px;
    top: 80px;
    right: 75px;
}

.peito{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 70px;
    height: 40px;
    top: 120px;
}

.abdomen{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 70px;
    top: 170px;
    height: 65px;
}

.pelvis{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 95px;
    height: 35px;
    top: 245px;
}

.quadEsquerdo, .quadDireito{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 42px;
    height: 75px;
    bottom: 135px;
}

.quadEsquerdo{
    left: 102px;

}

.quadDireito{
    right: 102px;
}

.tibiaDireita, .tibiaEsquerda{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 42px;
    height: 70px;
    bottom: 58px;
}

.tibiaEsquerda{
    left: 102px;
}

.tibiaDireita{
    right: 102px;
}

.peEsquerdo, .peDireito{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 42px;
    height: 42px;
    bottom: 8px;
}

.peEsquerdo{
    left: 102px;
}

.peDireito{
    right: 102px;
}

.bracoEsquerdo, .bracoDireito{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 33px;
    top: 120px;
    height: 80px;
}

.bracoEsquerdo{
    left: 75px;
}

.bracoDireito{
    right: 75px;
}

.anteEsquerdo, .anteDireito{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 33px;
    top: 207px;
    height: 44px;
}

.anteEsquerdo{
    left: 63px;
}

.anteDireito{
    right: 63px;
}

.maoEsquerda, .maoDireita{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 33px;
    top: 257px;
    height: 33px;
}

.maoEsquerda{
    left: 63px;
}

.maoDireita{
    right: 63px;
}



@media screen and (max-width: 361px){
    header img{
        width: 100px;
    }
    header h1{
        display: none;
    }
    #cellphone-only{
        display: block;
        font-size: 1.8rem;
    }
}