/* RESET */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ESTILIZAÇÃO */

body{
    height: 210dvh;
}

:root{
    --header-h: 130px;
    --header-img-margin: 5%;
    --main-h: calc(100dvh - var(--header-h));
    --check-border-clr: #07266D;
}

header{
    height: var(--header-h);
    width: 100%;
    background: linear-gradient(to bottom, #09318B 50%, #07266D 50%);

    display: flex;
    align-items: center;
}

header img{
    width: calc(var(--header-h) - 5px);
    margin-left: var(--header-img-margin);
}

header h1, #cellphone-only{
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
    margin-left: 20px;
}

#cellphone-only{
    display: none;
}

main{
    width: 100%;
    height: var(--main-h);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p{
    width: 150px;
}

.main2{
    position: absolute;
    top: calc(var(--main-h) - var(--header-h));
    justify-content: space-between;
    padding: 80px 0;
}

#formularioAcompanhante{
    display: none;
    flex-direction: column;
    gap: 20px;
    background-color: #09318B;
    padding: 25px 15px;
    position: absolute;
    transition: all .3s linear;
    left: calc(100% + 10px);
    border-radius: 5px;
}
#formularioAcompanhante input{
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}
#formularioAcompanhante input::placeholder {
    color: #fff;
    font-size: 14px;
}

input{
    border-bottom: 1px solid #000;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15vmin;
    position: relative;
    margin-bottom: 30px;
}

.gender{
    margin-top: 10px;
    gap: 10px;
}

h2{
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: bold
}

.sec1{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.aside1{
    gap: 15px;
    position: relative;
}

.aside2{
    text-align: center;
    gap: 15px;
}

.gap{
    gap: 10px;
}

.tiposDeDano{
    gap: 20px;
}

.paciente{
    border: 3px solid #07266D;
    padding: 20px;
}

.sec2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clm{
    display: flex;
    flex-direction: column;
}

.rw{
    display: flex;
    flex-direction: row;
}

.avancar{
    bottom: 20px;
    right: 20px;
    position: absolute;
    padding: 15px 20px;
    background-color: transparent;
    border: 3px solid #1449BF;
    border-radius: 5px;
    overflow: hidden;
    transition: top .3s cubic-bezier(.17,.67,.65,.99);
}
.avancar::before{
    position: absolute;
    content: '';
    inset: -1px;
    top: 100%;
    background-color: #09318B;
    z-index: -1;
    transition: top .3s cubic-bezier(.17,.67,.65,.99);
}
.avancar:hover{
    color: #fff;
}
.avancar:hover::before{
    top: -1px;
}

hr{
    width: 60%;
    height: 3px;
    background-color: #09318B;
}

.btn{
    width: 250px;
    height: 60px;
    background-color: transparent;
    border: 3px solid #1449BF;
    font-size: 1.3rem;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: top .3s cubic-bezier(.17,.67,.65,.99);
}
.btn::before{
    position: absolute;
    content: '';
    inset: -1px;
    top: 100%;
    background-color: #09318B;
    z-index: -1;
    transition: top .3s cubic-bezier(.17,.67,.65,.99);
}
.btn:hover{
    color: #fff;
}
.btn:hover::before{
    top: -1px;
}



.corpo{
    position: relative;
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-cabeca{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 65px;
    height: 65px;
    top: 10px;
}

.check-ombroEsquerdo{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 70px;
    height: 35px;
    top: 80px;
    left: 75px;
}

.check-ombroDireito{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 70px;
    height: 35px;
    top: 80px;
    right: 75px;
}

.check-peito{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 70px;
    height: 40px;
    top: 120px;
}

.check-abdomen{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 70px;
    top: 170px;
    height: 65px;
}

.check-pelvis{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 95px;
    height: 35px;
    top: 245px;
}

.check-quadDireito{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 42px;
    height: 75px;
    left: 102px;
    bottom: 135px;
}

.check-quadEsquerdo{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 42px;
    height: 75px;
    right: 102px;
    bottom: 135px;
}

.check-tibiaDireita, .check-tibiaEsquerda{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 42px;
    height: 70px;
    bottom: 58px;
}

.check-tibiaEsquerda{
    left: 102px;
}

.check-tibiaDireita{
    right: 102px;
}

.check-peEsquerdo, .check-peDireito{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 42px;
    height: 42px;
    bottom: 8px;
}

.check-peEsquerdo{
    left: 102px;
}

.check-peDireito{
    right: 102px;
}

.check-bracoEsquerdo, .check-bracoDireito{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 33px;
    top: 120px;
    height: 80px;
}

.check-bracoEsquerdo{
    left: 75px;
}

.check-bracoDireito{
    right: 75px;
}

.check-anteEsquerdo, .check-anteDireito{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 33px;
    top: 207px;
    height: 44px;
}

.check-anteEsquerdo{
    left: 63px;
}

.check-anteDireito{
    right: 63px;
}

.check-maoEsquerda, .check-maoDireita{
    position: absolute;
    border: 1px solid var(--check-border-clr);
    width: 33px;
    top: 257px;
    height: 33px;
}

.check-maoEsquerda{
    left: 63px;
}

.check-maoDireita{
    right: 63px;
}



@media screen and (max-width: 361px){
    header img{
        width: 100px;
    }
    header h1{
        display: none;
    }
    #cellphone-only{
        display: block;
        font-size: 1.8rem;
    }
}