/* RESET */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ESTILIZAÇÃO */

body{
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top right, transparent 50%, #9cb7f0 50%);
}

.azul-escuro{
    width: 90vmin;
    height: 65vmin;
    background-color: #09318B;
    border-radius: 30px;
    position: relative;
}

.azul-escuro img{
    width: 43vmin;
    aspect-ratio: 1;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}

.azul-claro{
    position: absolute;
    width: 50vmin;
    height: 65vmin;
    background-color: #1449BF;
    left: 50%;
    top: 5vmin;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 60px;
    color: white;
    font-weight: bolder;
    position: absolute;
    top: 45px;
}

.form-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
}

.form-column input{
    width: 40vmin;
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
}

.form-column input::-webkit-input-placeholder{
    color: #8EB1FF;
}

.form-column input::-moz-placeholder {
    color: #8EB1FF;
}

ion-icon {
    font-size: 30px;
    position: absolute;
    right: 3%;
}

hr{
    width: 100%;
    height: 3px;
    background-color: #09318B;
}

.form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 35px;
}


.btn{
    font-size: 20px;
    padding: 15px 18px;
    background-color: transparent;
    outline: 3px solid #6F9BFF;
    color: #fff;
    transition: all .15s ease-in-out;
}

.btn:hover, .btn:active, .btn:focus-within{
    background-color: #6F9BFF;
}

.checkbox{
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkbox input{
    width: 30px;
    aspect-ratio: 1;
    outline: none;
}

.checkbox label{
    color: #8EB1FF;
}

.row{
    position: relative;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 750px){
    .form-row{
        flex-direction: column;
        gap: 20px;
    }
    .azul-claro{
        left: 47%;
    }
    h1{
        top: 20px;
    }
}

@media screen and (max-width: 400px){
    h1{
        top: 45px;
    }
    .azul-escuro{
        width: 315px;
        height: 80%;
        margin-right: 13px;
    }
    .azul-escuro img{
        display: none;
    }
    .azul-claro{
        left: 7%;
        width: 310px;
        height: 100%;
    }
    .form-column input{
        width: 250px;
    }
    .form-column{
        margin-top: 0;
    }

}




